<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>shoppingCar</title>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="js/shoppingCarCtrl.js"></script>
</head>
<body ng-controller='CarCtrl'>
	<h2>我的购物车</h2>
	<!-- ng-repeat指令进行过滤 -->
	<div ng-repeat="item in items">
		<span>{{item.title}}:</span>
		<input type="text" ng-model="item.quantity">
		<!--显示价格 currency代表$ 带有参数表示人民币-->
		<span>单价：{{item.price | currency:'￥'}}</span>
		<!-- 显示总价 -->
		<span>总价：{{item.price * item.quantity | currency:'￥'}}</span>
		<!-- ng-click表示删除 -->
		<button ng-click="remove($index)">删除</button>
	</div>
	
</body>
</html>